<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WILLIAM WIDMER</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
</head>
<body>
<div class="blog-masthead">
    <nav class="blog-nav navbar">
        <div class="head container-fluid">
	  <div class="navbar-head">
            <a href="/">William Widmer
              <p class="subhead"> Computer Science, Software Development</p>
            </a>
	  </div> 
	</div>
    </nav>
</div>
<div class="container">
    <div class="content">
        {% block page %}
        {% endblock %}
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"> </script>
<script src="{% static "js/index_magic.js" %}"> </script>
</html>
